body{
    margin: 0%;
    padding: 0%;
}
.cabecalho{
    width: 98,5%;
    height: 130px;
    background: #ffffff;
    padding: 15px 15px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    

}
.logo{
    width: 123px;
    height: 122px;
    margin: 10px;
}
.cadastro{
    display: flex;
    align-items: center;
    padding-right: 50px;
    font-size: 30px;
    
}
ul{
    gap: 100px;
    display: flex;
    flex-direction: row;
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
.comeco{
    text-align: center;
}
.banner{
    width: 1574px;
}
.exp{
    display: flex;
    padding-left: 50px;
    text-align: center;
}
.cerebro{
    width:600px;
    height: 550px;
}
.vs{
    width:400px;
    height: 510px;
}
.texto3{
    margin-top: 40px;

}
.autoajuda{
    width:450px;
    height: 550px;
}
.rodape{
    background-color: #f7cef1;
    width: 100%;
    
    position: absolute;
    justify-content: center;
}
.redes{
    text-align: center;
    overflow: hidden;
   
}
.insta{
    width: 61px;
    height: 56px;
}
.face{
    width: 61px;
    height: 56px;
    margin-top: 7px;

}
.twit{
    width: 61px;
    height: 56px;
    margin-top: 5px;

}
.tele{
    width: 61px;
    height: 56px;
    margin-top: 5px;

}
.comunitario{
    text-align: center;
}
p{
    font-size: 18px;
}
    
    
    
    
    
